### Django ###

*.pyc
*.DS_Store
*/_pycache_/*
*.log

# Migrations
**/migrations/
*/migrations/*
!/migrations
!/migrations/_init_.py

# Database
db.sqlite3
db.sqlite3-journal

# Ignore media with out static folder
media/*
!media/static

static/static

# Settings files
*.ini

# Git
.git_credentials
gitpush

# VsCode
.vscode

# Environment
.env
venv
env
.venv

# Docker
**/.dockerignore
*/docker-compose
*/compose
*/Dockerfile